/*Hello this is a page for exclusive use for study project*/
* {
  scroll-behavior: smooth;
  text-align: justify;
 
  
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color:#E8F3F1;
    color: black;
    font-size: 20px;  
    
}


p {
  line-height: 25px;
  display: block;
  
}

img{
  width:500px;
  margin-left: 50px;
  text-align: center;
}


#main-doc {
  display: flex;
  flex-direction: column

}

code {
  max-width: 70%;
  display: block;
  text-align: left;
  font-size: 15px;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #cfe4e3;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* Navbar*/
#navbar {
  width: 100%;
  height: 100%;
  background-color:#34dac9fe;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-radius:2% ;
}

#navbar header {
  color:white ;
  font-size: 25px;
}

#navbar ul {
  padding: 0;
   font-size: 20px;
}

#navbar ul li {
  color: #000;
  margin-bottom: 15px;
  list-style: none;
  width: 100%;
  left: 0px;
  position: relative;

}

#navbar ul li a{
  color:white;
  height: 30px;
  left: 20px;
  transition: all 2s;
  -webkit-transition: all 2s;

}

#navbar ul li a:hover{
  color:#aff454;
  background-color: #00AC87;
  padding: 5px 10px;
  border-radius: 10px;
}


/*Main Content*/
.content {
   margin: 0 30px 30px;
}

.main-section {
  min-height: 100vh;
  width: 100%;
  border-bottom: 3px  inset  black;
}

.main-section header{
  color:#fe9046;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  

}

.main-section ul li,
.main-section ol li{
  margin-bottom: 15px
}

footer{
  margin-right: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}


/*Media query*/
@media(min-width: 900px){
  #main-doc {
    flex-direction: row
  }
  
  #navbar {
    width: 300px;
    height: 100vh;
    background-color:#545479;
    margin-top: 0;
    text-align: left;
    position: fixed;
    padding: 0;
  }
  
  
  #navbar header,
  #navbar ul {
    padding-left: 40px;
  }
  
   #navbar header {
    color: #ddd;
    padding-left: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00AC87;
  

  }
  
   #navbar ul li {
    padding-top: 15px;
  }
  
  .content {
    margin-left: 350px;
  }

}

